<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
    <h5 class="text-center text-black mt-5">
        <th:block sec:authorize="isAuthenticated()">
<!--            Welcome to Car Shop!-->
<!--          <th:block sec:authentication=""></th:block>-->
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">Welcome to Car Shop!</th:block>


    </h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
